<!DOCTYPE html>
<html>
<head>
	
	<title> bootstrap form</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="container">
		<div class="row">
    <h1>To-Do-Application</h1>
			<div class="col-sm-offset-2  col-xs-9">
				<h2>Update-To-Do-list</h2>
         <div class="panel panel-default">
           <div class="panel-body">
					   <form class="form-horizontal">
              <div class="form-group">
              
              <h3 class="blue">Update</h3>
               <label class=" control-label col-sm-2" for="Task">Task:</label>
                 <div class="col-sm-8">
                    <input type="task" class="form-control" id="task" placeholder="Task">
                  </div>
              </div>
          <br>
          <div class="form-group">
                  <label class=" control-label  col-sm-2" for="Date">Deadline</label>
                  <div class="col-sm-8">
                      <input type="" class="form-control" id="Date" placeholder="YYYY/MM/DD">
                  </div>
                </div>
              
                <br>
             <div class="form-group">
              <label class="control-label col-sm-2" for="Description">Description:</label>
                <div class="col-sm-8"> 
                 <textarea name="desc" class="form-control" id="Description" cols=5o rows=3 placeholder="Description" ></textarea>

             </div>
           </div>
            <div class="form-group"> 
              <div class="col-sm-8"><div class="divide">
               <button type="submit" class="btn btn-info"><a href="form2.html">Back</a></button>
               <div class="divider"> 
               <button type="submit" class="btn btn-success">Update</button>
              </div>
            </div>
            </div>
            </div>
            </div>
    </div>

    </div>
    </div>
    </div>
  

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>